.header {
	margin-bottom: 2em;
	padding-bottom: 0.5em;
	border-bottom: 0.3em solid orange;
}

.headerIcon {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerIcon_image {
	width: 10%;
	min-width: 10em;
}

.navLink_anchor {
	position: relative;
	top: 6em;
	left: 2em;
	text-decoration: none;
	padding: 1em;
	background-color: #fcad03;
	color: white;
	border-radius: 0.5em;
	transition: all 0.1s ease-in;
}
.navLink_anchor:hover {
	background-color: #f5cc74;
}

@media (max-width: 500px) {
	.header {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
		gap: 2em;
		padding-bottom: 1.5em;
		min-width: 400px;
	}
	.navLink_anchor {
		top: 0em;
		left: 0em;
	}
}
@media (max-width: 400px) and (min-width: 300px) {
	.header {
		width: 130%;
	}
}
