.detailContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1em;
	background-image: url('../Images/food-background-detail4.png');
	/* background-position: center center; */
}
.loading {
	margin: 2em;
}

.detailContainer h1 {
	text-align: center;
	font-size: xx-large;
	text-decoration: underline;
}
.detailContainer img {
	width: 25%;
	min-width: 300px;
	border-radius: 4px;
}

.summaryContainer {
	margin-top: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	padding: 1em;
}
.summaryContainer {
	text-transform: uppercase;
}

.summaryContent {
	width: 90%;
	line-height: 2em;
	text-align: center;
}

.scoreContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 3em;
	margin: 2em;
	width: 25%;
}

.healthScore {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	padding: 0.5em 1em;
	border-radius: 8px;
	width: 70%;
}
.healthScore span {
	font-weight: bold;
	font-size: 2em;
}

.normalScore {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	padding: 0.5em 1em;
	border-radius: 8px;
	width: 70%;
}
.normalScore span {
	font-weight: bold;
	font-size: 2em;
}

.stepContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: 2em;
	background-color: white;
}
.stepContainer_list {
	list-style-type: none;
	margin: 1.5em;
}

.backToLink {
	background-color: white;
	text-decoration: none;

	padding: 0.6em;
	border-radius: 0.5em;
}

.backToLink:hover {
	background-color: #e9a410;
	color: white;
}

.dietList {
	display: flex;
	align-items: center;
}
.dietList ul {
	display: flex;
	flex-wrap: wrap;
}

.dietList ul li {
	border-radius: 0.5em;
	margin: 2em;
	padding: 1em;
	list-style-type: none;
	text-transform: capitalize;
	font-weight: bolder;
	background-color: white;
}

@media (max-width: 650px) {
	.detailContainer {
		width: 100%;
		padding: 0em 1em;
	}
	.scoreContainer {
		width: 80%;
	}
}
